In [1]:
%matplotlib inline

# Plotting setup
import matplotlib.pyplot as plt
import geopandas

# Package imports
import numpy as np
import pandas as pd

# Allow import of own scripts #
import sys, os
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
###############################

# Own functions
from src.load_taxi_data import load_taxi_data
from src.taxi_zones_loader import taxi_zones_loader

In [11]:
'''
Load taxi data for all taxi types for January 2019 before Covid.
This will take a while because total data amount is about 2 GB!
'''
# df_taxi_2019_01 = load_taxi_data(['yellow', 'green', 'fhv'], [2019], [1])

Will download... yellow_tripdata_2019-01.csv
Will download... green_tripdata_2019-01.csv
Will download... fhv_tripdata_2019-01.csv

In [12]:
'''
Save data to csv to save time.
This will take a while as total file size is about 2 GB!
'''
# df_taxi_2019_01.to_csv('../dat/df_taxi_2019_01.csv', encoding='utf-8')

In [34]:
# Read previously saved dataframe from csv file
df_taxi_2019_01 = pd.read_csv('../dat/df_taxi_2019_01.csv')

**Definition:** The **most frequent route** between any two locations _A_ and _B_ is the unidirectional route _A*_ &rarr; _B*_ with the highest trip frequency.

In [3]:
df_taxi_2019_01

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,fleet
0,0,2019-01-01 00:46:40,2019-01-01 00:53:20,151.0,239.0,yellow
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,239.0,246.0,yellow
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,236.0,236.0,yellow
3,3,2018-11-28 15:52:25,2018-11-28 15:55:45,193.0,193.0,yellow
4,4,2018-11-28 15:56:57,2018-11-28 15:58:33,193.0,193.0,yellow
...,...,...,...,...,...,...
31429515,23130805,2019-01-31 23:21:00,2019-01-31 23:28:52,NaN,265.0,fhv
31429516,23130806,2019-01-31 23:38:04,2019-01-31 23:45:43,NaN,265.0,fhv
31429517,23130807,2019-01-31 23:53:58,2019-02-01 00:25:04,NaN,265.0,fhv
31429518,23130808,2019-01-31 23:54:53,2019-02-01 00:00:14,NaN,265.0,fhv
31429519,23130809,2019-01-31 23:55:47,2019-02-01 00:24:29,NaN,265.0,fhv

**Preprocessing:**

In [35]:
# Remove unnecessary column to save space
if 'Unnamed: 0' in df_taxi_2019_01.columns:
    df_taxi_2019_01.drop(columns='Unnamed: 0', inplace=True) # inplace=True modifies the dataframe itself

In [36]:
# Get names of indexes for which column LocationID has value 0 => This is an undefined location!
indexNames = df_taxi_2019_01[ (df_taxi_2019_01['PULocationID'] == 0) | (df_taxi_2019_01['DOLocationID'] == 0) ].index

# Delete these row indexes from taxi trip data
df_taxi_2019_01.drop(indexNames , inplace=True)

In [37]:
print('There are {} rows with undefined location (i.e., DOLocationID = 0 or PULocationID = 0).'.format(df_taxi_2019_01[df_taxi_2019_01['DOLocationID'] == 0].shape[0] + df_taxi_2019_01[df_taxi_2019_01['PULocationID'] == 0].shape[0]))

There are 0 rows with undefined location (i.e., DOLocationID = 0 or PULocationID = 0).

In [38]:
# Identify all non-numeric values and convert them to NaN
df_taxi_2019_01['PULocationID'] = pd.to_numeric(df_taxi_2019_01['PULocationID'], errors='coerce')
df_taxi_2019_01['DOLocationID'] = pd.to_numeric(df_taxi_2019_01['DOLocationID'], errors='coerce')

In [39]:
# Replace infinite values with the NaN values
df_taxi_2019_01.replace([np.inf, -np.inf], np.nan, inplace=True)

In [40]:
# Drop all rows with NaN
df_taxi_2019_01.dropna(axis=0, inplace=True)

In [41]:
# Some locations are stored as float but we need discrete int values for later grouping
df_taxi_2019_01['PULocationID'] = df_taxi_2019_01['PULocationID'].astype(int)
df_taxi_2019_01['DOLocationID'] = df_taxi_2019_01['DOLocationID'].astype(int)

In [42]:
# Test: Are any NaN left?
print('There are {} rows with NaN values left.'.format(df_taxi_2019_01[df_taxi_2019_01['PULocationID'].isnull()].shape[0]))

There are 0 rows with NaN values left.

In [43]:
print('About {:.2f}% of the entire data could not be used due to missing information (NaN).'.format(100*(1-df_taxi_2019_01.shape[0]/31429520)))

About 5.81% of the entire data could not be used due to missing information (NaN).

**Remove row from the wrong year:**

In [13]:
df_taxi_2019_01

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,fleet
0,2019-01-01 00:46:40,2019-01-01 00:53:20,151,239,yellow
1,2019-01-01 00:59:47,2019-01-01 01:18:59,239,246,yellow
2,2018-12-21 13:48:30,2018-12-21 13:52:40,236,236,yellow
3,2018-11-28 15:52:25,2018-11-28 15:55:45,193,193,yellow
4,2018-11-28 15:56:57,2018-11-28 15:58:33,193,193,yellow
...,...,...,...,...,...
31429479,2019-01-31 23:32:45,2019-01-31 23:32:49,247,45,fhv
31429481,2019-01-31 23:37:00,2019-01-31 23:54:00,265,265,fhv
31429482,2019-01-31 23:58:00,2019-02-01 00:59:00,265,265,fhv
31429483,2019-01-31 23:46:00,2019-02-01 00:21:00,265,265,fhv
31429509,2019-01-31 23:45:00,2019-02-01 00:52:00,132,265,fhv

In [44]:
# Remove wrong year form pick-ups and rop-offs.
# The or "|" is necessary to include fringe cases on new year's!
df_taxi_2019_01 = df_taxi_2019_01[df_taxi_2019_01['pickup_datetime'].str.contains('2019') | df_taxi_2019_01['dropoff_datetime'].str.contains('2019')]

In [45]:
# Quick test for wrong year
df_taxi_2019_01[df_taxi_2019_01['pickup_datetime'].str.contains('2018')]

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,fleet
112,2018-12-31 17:22:55,2019-01-01 16:57:23,132,181,yellow
497,2018-12-31 23:56:19,2019-01-01 00:53:44,48,265,yellow
505,2018-12-31 23:56:54,2019-01-01 00:01:55,170,170,yellow
557,2018-12-31 23:56:57,2019-01-01 00:30:30,239,158,yellow
878,2018-12-31 23:58:36,2019-01-01 00:04:18,229,229,yellow
...,...,...,...,...,...
7668960,2018-12-31 23:59:00,2019-01-01 00:06:13,130,131,green
7669365,2018-12-31 16:03:20,2019-01-01 15:13:23,41,74,green
7669939,2018-12-31 23:58:49,2019-01-01 00:03:02,41,41,green
7673443,2018-12-31 16:13:01,2019-01-01 15:23:54,247,116,green
7673785,2018-12-31 16:14:57,2019-01-01 15:27:12,74,42,green

**Remove routes with IDs that refer to locations outside the city:**

In [17]:
# IDs 264 and 265 refer to locations outside the city => Rows containing them need to be dropped
taxi_zones_loader()

     LocationID        Borough                     Zone
0             1            EWR           Newark Airport
1             2         Queens              Jamaica Bay
2             3          Bronx  Allerton/Pelham Gardens
3             4      Manhattan            Alphabet City
4             5  Staten Island            Arden Heights
..          ...            ...                      ...
260         261      Manhattan       World Trade Center
261         262      Manhattan           Yorkville East
262         263      Manhattan           Yorkville West
263         264        Unknown                       NV
264         265        Unknown                      NaN

[265 rows x 3 columns]

In [52]:
idx_outside = [264, 265]

df_taxi_2019_01 = df_taxi_2019_01[(df_taxi_2019_01['PULocationID'] != idx_outside[0]) & (df_taxi_2019_01['PULocationID'] != idx_outside[0]) & \
                                  (df_taxi_2019_01['DOLocationID'] != idx_outside[1]) & (df_taxi_2019_01['DOLocationID'] != idx_outside[1])]

In [50]:
# Quick test for wrong IDs
df_taxi_2019_01[ (df_taxi_2019_01['DOLocationID'] == 264) ]

Empty DataFrame
Columns: [pickup_datetime, dropoff_datetime, PULocationID, DOLocationID, fleet]
Index: []

In [51]:
df_taxi_2019_01

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,fleet
0,2019-01-01 00:46:40,2019-01-01 00:53:20,151,239,yellow
1,2019-01-01 00:59:47,2019-01-01 01:18:59,239,246,yellow
7,2019-01-01 00:21:28,2019-01-01 00:28:37,163,229,yellow
8,2019-01-01 00:32:01,2019-01-01 00:45:39,229,7,yellow
9,2019-01-01 00:57:32,2019-01-01 01:09:32,141,234,yellow
...,...,...,...,...,...
31429423,2019-01-31 23:14:37,2019-01-31 23:21:25,243,244,fhv
31429424,2019-01-31 23:20:41,2019-01-31 23:53:05,61,10,fhv
31429425,2019-01-31 23:33:45,2019-01-31 23:45:16,163,75,fhv
31429426,2019-01-31 23:57:42,2019-02-01 00:23:08,161,256,fhv
31429479,2019-01-31 23:32:45,2019-01-31 23:32:49,247,45,fhv

**Most popular routes:**

In [35]:
# Gather metadata
print('PULocationID: Min = {}, Max = {}'.format(df_taxi_2019_01['PULocationID'].min(), df_taxi_2019_01['PULocationID'].max()))
print('DOLocationID: Min = {}, Max = {}'.format(df_taxi_2019_01['DOLocationID'].min(), df_taxi_2019_01['DOLocationID'].max()))

PULocationID: Min = 1, Max = 265
DOLocationID: Min = 1, Max = 265

In [31]:
by_puid = df_taxi_2019_01.groupby('PULocationID')

In [32]:
for puid, frame in by_puid:
    print(f"First 2 entries for {puid!r}")
    print("------------------------")
    print(frame.head(2), end="\n\n")

First 2 entries for 1
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
33961  2019-01-01 02:19:27  2019-01-01 02:19:32             1             1
60640  2019-01-01 05:52:45  2019-01-01 05:52:53             1             1

        fleet
33961  yellow
60640  yellow

First 2 entries for 2
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
627596  2019-01-04 06:55:07  2019-01-04 08:10:35             2            65
741757  2019-01-04 16:05:29  2019-01-04 16:51:32             2           211

         fleet
627596  yellow
741757  yellow

First 2 entries for 3
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
78181  2019-01-01 10:05:06  2019-01-01 10:12:23             3            51
78740  2019-01-01 10:06:36  2019-01-01 10:42:47             3            61

        fleet
78181  yellow
78740  yellow

First 2 entries for 4
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
88   2019-01-01 00:10:52  2019-01-01 00:51:27             4           246
189  2019-01-01 00:14:58  2019-01-01 00:24:33             4            87

      fleet
88   yellow
189  yellow

First 2 entries for 5
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
225461  2019-01-02 09:39:20  2019-01-02 10:33:35             5           186
692326  2019-01-04 12:06:03  2019-01-04 13:09:56             5           233

         fleet
225461  yellow
692326  yellow

First 2 entries for 6
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
72094   2019-01-01 09:53:01  2019-01-01 09:53:29             6             6
196848  2019-01-02 05:07:10  2019-01-02 05:07:47             6             6

         fleet
72094   yellow
196848  yellow

First 2 entries for 7
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
881   2019-01-01 00:15:57  2019-01-01 00:20:42             7           146
1282  2019-01-01 00:40:02  2019-01-01 00:44:13             7             7

       fleet
881   yellow
1282  yellow

First 2 entries for 8
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
13871  2019-01-01 01:38:55  2019-01-01 01:40:53             8           179
88471  2019-01-01 12:53:25  2019-01-01 13:08:49             8           226

        fleet
13871  yellow
88471  yellow

First 2 entries for 9
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
196086  2019-01-02 04:32:33  2019-01-02 04:54:35             9            43
275283  2019-01-02 13:49:52  2019-01-02 14:06:05             9            28

         fleet
196086  yellow
275283  yellow

First 2 entries for 10
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
8272   2019-01-01 00:17:32  2019-01-01 00:28:30            10           218
11355  2019-01-01 00:00:31  2019-01-01 00:19:23            10           130

        fleet
8272   yellow
11355  yellow

First 2 entries for 11
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
161   2019-01-01 00:55:16  2019-01-01 01:01:05            11            22
3337  2019-01-01 00:49:44  2019-01-01 00:58:51            11            14

       fleet
161   yellow
3337  yellow

First 2 entries for 12
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1949  2019-01-01 00:27:05  2019-01-01 00:41:33            12           234
4922  2019-01-01 00:25:13  2019-01-01 00:29:01            12            87

       fleet
1949  yellow
4922  yellow

First 2 entries for 13
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
180  2019-01-01 00:18:00  2019-01-01 00:26:10            13           231
418  2019-01-01 00:12:29  2019-01-01 00:30:34            13            48

      fleet
180  yellow
418  yellow

First 2 entries for 14
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
160   2019-01-01 00:28:12  2019-01-01 00:34:55            14           228
9838  2019-01-01 00:29:50  2019-01-01 00:47:26            14            89

       fleet
160   yellow
9838  yellow

First 2 entries for 15
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
85903  2019-01-01 11:52:28  2019-01-01 12:16:37            15           140
99705  2019-01-01 13:24:45  2019-01-01 13:44:25            15            75

        fleet
85903  yellow
99705  yellow

First 2 entries for 16
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
18291  2019-01-01 01:31:33  2019-01-01 01:43:33            16           131
19732  2019-01-01 01:50:20  2019-01-01 01:53:31            16            16

        fleet
18291  yellow
19732  yellow

First 2 entries for 17
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1867  2019-01-01 00:47:56  2019-01-01 01:13:56            17             7
5357  2018-12-31 23:57:06  2019-01-01 00:12:06            17           255

       fleet
1867  yellow
5357  yellow

First 2 entries for 18
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
11511  2019-01-01 00:25:24  2019-01-01 00:44:24            18           229
18272  2019-01-01 01:44:51  2019-01-01 01:48:48            18            94

        fleet
11511  yellow
18272  yellow

First 2 entries for 19
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
7893   2019-01-01 00:57:09  2019-01-01 00:57:37            19            19
61072  2019-01-01 05:14:43  2019-01-01 05:20:15            19           265

        fleet
7893   yellow
61072  yellow

First 2 entries for 20
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
11510  2019-01-01 00:20:18  2019-01-01 00:20:20            20            20
11631  2019-01-01 00:45:20  2019-01-01 00:48:39            20            20

        fleet
11510  yellow
11631  yellow

First 2 entries for 21
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
11310  2019-01-01 00:35:27  2019-01-01 00:47:25            21            11
13035  2019-01-01 00:19:35  2019-01-01 00:20:41            21            21

        fleet
11310  yellow
13035  yellow

First 2 entries for 22
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
23018  2019-01-01 01:06:58  2019-01-01 01:59:13            22           238
51096  2019-01-01 03:32:33  2019-01-01 03:51:36            22           108

        fleet
23018  yellow
51096  yellow

First 2 entries for 23
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
40387   2019-01-01 02:35:25  2019-01-01 02:37:17            23           118
258031  2019-01-02 12:52:52  2019-01-02 14:03:43            23            98

         fleet
40387   yellow
258031  yellow

First 2 entries for 24
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
286  2019-01-01 00:08:47  2019-01-01 00:19:46            24           140
386  2019-01-01 00:23:30  2019-01-01 00:30:05            24           238

      fleet
286  yellow
386  yellow

First 2 entries for 25
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
599   2019-01-01 00:31:02  2019-01-01 00:43:51            25           189
1655  2019-01-01 00:20:04  2019-01-01 00:23:27            25            33

       fleet
599   yellow
1655  yellow

First 2 entries for 26
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
52397  2019-01-01 03:48:06  2019-01-01 03:57:38            26            22
61352  2019-01-01 05:02:01  2019-01-01 05:12:27            26           165

        fleet
52397  yellow
61352  yellow

First 2 entries for 27
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2681406  2019-01-12 12:09:24  2019-01-12 12:34:17            27           265
2986618  2019-01-13 16:56:26  2019-01-13 17:00:43            27            48

          fleet
2681406  yellow
2986618  yellow

First 2 entries for 28
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
20262  2019-01-01 01:35:07  2019-01-01 02:19:49            28           116
27992  2019-01-01 01:06:40  2019-01-01 01:42:00            28           148

        fleet
20262  yellow
27992  yellow

First 2 entries for 29
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
26731  2019-01-01 01:33:40  2019-01-01 01:45:56            29            21
72127  2019-01-01 09:12:44  2019-01-01 09:12:56            29            29

        fleet
26731  yellow
72127  yellow

First 2 entries for 30
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
518574   2019-01-03 16:39:01  2019-01-03 16:57:47            30           124
3048619  2019-01-13 20:47:22  2019-01-13 20:49:57            30           137

          fleet
518574   yellow
3048619  yellow

First 2 entries for 31
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
238882  2019-01-02 10:55:01  2019-01-02 11:24:11            31           169
629927  2019-01-04 06:51:48  2019-01-04 06:52:12            31            31

         fleet
238882  yellow
629927  yellow

First 2 entries for 32
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
37965  2019-01-01 02:04:04  2019-01-01 02:23:40            32           159
63619  2019-01-01 06:33:28  2019-01-01 07:05:10            32           226

        fleet
37965  yellow
63619  yellow

First 2 entries for 33
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
326  2019-01-01 00:56:26  2019-01-01 01:37:50            33            95
540  2019-01-01 00:51:35  2019-01-01 00:59:32            33            66

      fleet
326  yellow
540  yellow

First 2 entries for 34
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
5774   2019-01-01 00:14:26  2019-01-01 00:21:28            34            25
12476  2019-01-01 00:57:40  2019-01-01 01:22:28            34            93

        fleet
5774   yellow
12476  yellow

First 2 entries for 35
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
11936  2019-01-01 00:31:22  2019-01-01 00:57:53            35           188
12643  2019-01-01 00:21:36  2019-01-01 00:33:01            35            35

        fleet
11936  yellow
12643  yellow

First 2 entries for 36
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
5388  2019-01-01 00:51:58  2019-01-01 01:20:14            36           224
8139  2019-01-01 00:42:02  2019-01-01 00:52:32            36            37

       fleet
5388  yellow
8139  yellow

First 2 entries for 37
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1783  2019-01-01 00:02:08  2019-01-01 00:09:19            37            36
1784  2019-01-01 00:18:45  2019-01-01 00:38:04            37           107

       fleet
1783  yellow
1784  yellow

First 2 entries for 38
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
24513  2019-01-01 01:35:27  2019-01-01 01:45:11            38           139
36893  2019-01-01 02:25:36  2019-01-01 02:35:31            38            10

        fleet
24513  yellow
36893  yellow

First 2 entries for 39
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
10126  2019-01-01 00:49:10  2019-01-01 00:50:46            39            39
33829  2019-01-01 02:01:16  2019-01-01 02:42:36            39            41

        fleet
10126  yellow
33829  yellow

First 2 entries for 40
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3159  2019-01-01 00:42:26  2019-01-01 01:11:00            40           263
5776  2019-01-01 00:50:21  2019-01-01 01:18:28            40           233

       fleet
3159  yellow
5776  yellow

First 2 entries for 41
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
19  2019-01-01 00:16:16  2019-01-01 00:25:57            41           247
49  2019-01-01 00:57:35  2019-01-01 01:13:14            41            50

     fleet
19  yellow
49  yellow

First 2 entries for 42
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
154  2019-01-01 00:10:50  2019-01-01 00:17:46            42            41
579  2019-01-01 00:39:58  2019-01-01 00:52:01            42           151

      fleet
154  yellow
579  yellow

First 2 entries for 43
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
109  2019-01-01 00:30:26  2019-01-01 00:42:15            43           151
147  2019-01-01 00:36:13  2019-01-01 00:46:08            43           151

      fleet
109  yellow
147  yellow

First 2 entries for 44
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
90489   2019-01-01 12:54:05  2019-01-01 14:03:24            44           135
258030  2019-01-02 12:32:12  2019-01-02 12:50:31            44            23

         fleet
90489   yellow
258030  yellow

First 2 entries for 45
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
95   2019-01-01 00:02:06  2019-01-01 00:10:19            45            97
574  2019-01-01 00:22:50  2019-01-01 00:36:20            45             4

      fleet
95   yellow
574  yellow

First 2 entries for 46
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
129703  2019-01-01 16:51:37  2019-01-01 17:23:37            46           254
422959  2019-01-03 08:35:18  2019-01-03 09:20:08            46            75

         fleet
129703  yellow
422959  yellow

First 2 entries for 47
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
25222  2019-01-01 01:33:55  2019-01-01 01:44:19            47           147
30994  2019-01-01 02:26:04  2019-01-01 02:40:21            47           254

        fleet
25222  yellow
30994  yellow

First 2 entries for 48
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
63  2019-01-01 00:15:42  2019-01-01 00:33:38            48            68
73  2019-01-01 00:57:22  2019-01-01 01:17:10            48            42

     fleet
63  yellow
73  yellow

First 2 entries for 49
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2712  2019-01-01 00:31:01  2019-01-01 01:07:45            49           168
3407  2019-01-01 00:54:20  2019-01-01 01:21:38            49            61

       fleet
2712  yellow
3407  yellow

First 2 entries for 50
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
125  2019-01-01 00:14:33  2019-01-01 00:42:21            50           148
156  2019-01-01 00:32:24  2019-01-01 00:33:21            50            50

      fleet
125  yellow
156  yellow

First 2 entries for 51
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
11486  2019-01-01 00:43:08  2019-01-01 01:07:05            51           152
16229  2019-01-01 01:37:15  2019-01-01 01:57:28            51           169

        fleet
11486  yellow
16229  yellow

First 2 entries for 52
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1992  2019-01-01 00:59:03  2019-01-01 01:36:37            52           229
3534  2019-01-01 00:58:03  2019-01-01 01:14:18            52            61

       fleet
1992  yellow
3534  yellow

First 2 entries for 53
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
64978   2019-01-01 06:32:35  2019-01-01 06:48:37            53           129
120094  2019-01-01 15:06:09  2019-01-01 15:29:08            53           240

         fleet
64978   yellow
120094  yellow

First 2 entries for 54
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
4949   2019-01-01 00:55:24  2019-01-01 00:59:42            54            40
21720  2019-01-01 01:59:16  2019-01-01 02:25:12            54           226

        fleet
4949   yellow
21720  yellow

First 2 entries for 55
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
96424  2019-01-01 13:01:13  2019-01-01 13:28:12            55           139
99081  2019-01-01 13:20:56  2019-01-01 13:46:42            55            88

        fleet
96424  yellow
99081  yellow

First 2 entries for 56
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
12005  2019-01-01 00:50:45  2019-01-01 01:07:22            56           170
17957  2019-01-01 01:55:49  2019-01-01 02:07:07            56           196

        fleet
12005  yellow
17957  yellow

First 2 entries for 57
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
53950   2019-01-01 04:18:02  2019-01-01 04:22:46            57            56
194037  2019-01-02 02:18:22  2019-01-02 02:25:57            57           173

         fleet
53950   yellow
194037  yellow

First 2 entries for 58
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
210542  2019-01-02 07:04:49  2019-01-02 07:09:22            58           184
639654  2019-01-04 07:14:54  2019-01-04 07:27:13            58            32

         fleet
210542  yellow
639654  yellow

First 2 entries for 59
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
65286   2019-01-01 06:14:28  2019-01-01 06:26:22            59           213
189978  2019-01-02 00:39:21  2019-01-02 00:39:36            59            59

         fleet
65286   yellow
189978  yellow

First 2 entries for 60
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
4401   2019-01-01 00:32:52  2019-01-01 00:50:52            60            51
41135  2019-01-01 02:05:32  2019-01-01 02:13:23            60            47

        fleet
4401   yellow
41135  yellow

First 2 entries for 61
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2182  2019-01-01 00:51:01  2019-01-01 01:25:44            61           170
2338  2019-01-01 00:35:26  2019-01-01 01:15:29            61            90

       fleet
2182  yellow
2338  yellow

First 2 entries for 62
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
13415  2019-01-01 01:52:22  2019-01-01 02:06:42            62           256
13419  2019-01-01 01:48:33  2019-01-01 01:58:17            62           181

        fleet
13415  yellow
13419  yellow

First 2 entries for 63
------------------------

            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
23555   2019-01-01 01:46:48  2019-01-01 02:06:55            64            92
105264  2019-01-01 13:05:20  2019-01-01 13:41:22            64           220

         fleet
23555   yellow
105264  yellow

First 2 entries for 65
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1198  2018-12-31 23:59:47  2019-01-01 00:13:02            65            79
1248  2019-01-01 00:41:13  2019-01-01 01:06:10            65           141

       fleet
1198  yellow
1248  yellow

First 2 entries for 66
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1059  2019-01-01 00:54:27  2019-01-01 01:06:07            66            25
4393  2019-01-01 00:39:57  2019-01-01 01:00:14            66           164

       fleet
1059  yellow
4393  yellow

First 2 entries for 67
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
17194  2019-01-01 01:01:18  2019-01-01 01:23:09            67           222
55616  2019-01-01 04:53:35  2019-01-01 05:10:08            67           210

        fleet
17194  yellow
55616  yellow

First 2 entries for 68
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
50  2019-01-01 00:36:09  2019-01-01 00:54:41            68            88
64  2019-01-01 00:53:19  2019-01-01 01:10:04            68            68

     fleet
50  yellow
64  yellow

First 2 entries for 69
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
6487   2018-12-31 23:51:33  2018-12-31 23:51:36            69            69
13293  2019-01-01 01:31:15  2019-01-01 01:46:51            69           235

        fleet
6487   yellow
13293  yellow

First 2 entries for 70
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2581  2019-01-01 00:34:22  2019-01-01 00:44:12            70            70
7504  2019-01-01 00:12:50  2019-01-01 00:15:31            70           129

       fleet
2581  yellow
7504  yellow

First 2 entries for 71
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
12644  2019-01-01 00:47:40  2019-01-01 00:58:01            71            91
23353  2019-01-01 01:04:38  2019-01-01 01:13:44            71            91

        fleet
12644  yellow
23353  yellow

First 2 entries for 72
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
25066  2019-01-01 01:03:57  2019-01-01 01:23:09            72            62
39013  2019-01-01 02:09:04  2019-01-01 03:12:30            72            69

        fleet
25066  yellow
39013  yellow

First 2 entries for 73
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
97934   2019-01-01 13:25:24  2019-01-01 13:35:07            73            16
105291  2019-01-01 13:09:02  2019-01-01 13:26:26            73            83

         fleet
97934   yellow
105291  yellow

First 2 entries for 74
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
52   2019-01-01 00:19:21  2019-01-01 00:28:39            74           168
246  2019-01-01 00:48:48  2019-01-01 01:05:50            74            50

      fleet
52   yellow
246  yellow

First 2 entries for 75
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
57   2019-01-01 00:45:50  2019-01-01 01:24:07            75           246
219  2019-01-01 00:21:05  2019-01-01 00:28:23            75           151

      fleet
57   yellow
219  yellow

First 2 entries for 76
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2885  2019-01-01 00:28:40  2019-01-01 00:32:43            76            76
7836  2019-01-01 00:09:42  2019-01-01 00:25:52            76           197

       fleet
2885  yellow
7836  yellow

First 2 entries for 77
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3697  2019-01-01 00:49:26  2019-01-01 01:02:21            77            76
7637  2019-01-01 00:26:49  2019-01-01 00:28:58            77            76

       fleet
3697  yellow
7637  yellow

First 2 entries for 78
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
5781  2019-01-01 00:43:53  2019-01-01 00:46:10            78            78
5782  2019-01-01 00:43:53  2019-01-01 00:46:10            78            78

       fleet
5781  yellow
5782  yellow

First 2 entries for 79
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
54  2019-01-01 00:17:42  2019-01-01 00:34:36            79           161
71  2019-01-01 00:53:17  2019-01-01 01:10:08            79           112

     fleet
54  yellow
71  yellow

First 2 entries for 80
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
324  2019-01-01 00:00:03  2019-01-01 00:04:26            80           112
541  2019-01-01 00:26:42  2019-01-01 00:39:14            80           114

      fleet
324  yellow
541  yellow

First 2 entries for 81
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
16375  2019-01-01 01:40:51  2019-01-01 02:01:41            81           169
40541  2019-01-01 02:53:07  2019-01-01 03:06:20            81           183

        fleet
16375  yellow
40541  yellow

First 2 entries for 82
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1348  2018-12-31 20:04:04  2018-12-31 20:12:23            82           260
3174  2019-01-01 00:41:45  2019-01-01 00:48:01            82            56

       fleet
1348  yellow
3174  yellow

First 2 entries for 83
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
13644  2019-01-01 01:11:28  2019-01-01 01:27:49            83             7
16878  2019-01-01 01:01:52  2019-01-01 01:19:25            83           162

        fleet
13644  yellow
16878  yellow

First 2 entries for 84
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2305600  2019-01-11 04:48:23  2019-01-11 04:51:41            84            84
7669126  2019-01-01 01:13:00  2019-01-01 01:55:32            84           210

          fleet
2305600  yellow
7669126   green

First 2 entries for 85
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
22702  2019-01-01 01:36:10  2019-01-01 02:23:39            85           235
24702  2019-01-01 01:00:50  2019-01-01 01:53:49            85            51

        fleet
22702  yellow
24702  yellow

First 2 entries for 86
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
112974  2019-01-01 14:56:20  2019-01-01 15:55:06            86            42
134829  2019-01-01 16:07:45  2019-01-01 16:40:36            86            28

         fleet
112974  yellow
134829  yellow

First 2 entries for 87
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
559  2019-01-01 00:47:18  2019-01-01 01:06:01            87           263
635  2019-01-01 00:56:42  2019-01-01 01:09:48            87           113

      fleet
559  yellow
635  yellow

First 2 entries for 88
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
51  2019-01-01 00:56:23  2019-01-01 01:12:03            88            90
83  2019-01-01 00:56:06  2019-01-01 01:24:16            88           151

     fleet
51  yellow
83  yellow

First 2 entries for 89
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1594  2019-01-01 00:01:16  2019-01-01 00:09:52            89            85
8236  2019-01-01 00:37:45  2019-01-01 00:46:35            89            40

       fleet
1594  yellow
8236  yellow

First 2 entries for 90
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
43  2019-01-01 00:55:26  2019-01-01 01:30:46            90           181
91  2019-01-01 00:06:29  2019-01-01 00:22:20            90           148

     fleet
43  yellow
91  yellow

First 2 entries for 91
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
23354  2019-01-01 01:17:47  2019-01-01 01:29:52            91            39
55109  2019-01-01 04:05:56  2019-01-01 04:41:39            91           188

        fleet
23354  yellow
55109  yellow

First 2 entries for 92
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
12794  2019-01-01 00:26:28  2019-01-01 00:30:13            92            92
24927  2019-01-01 01:10:42  2019-01-01 01:39:35            92            70

        fleet
12794  yellow
24927  yellow

First 2 entries for 93
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
9328   2019-01-01 00:18:41  2019-01-01 00:26:46            93           132
50446  2019-01-01 03:56:23  2019-01-01 04:15:49            93            74

        fleet
9328   yellow
50446  yellow

First 2 entries for 94
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
11415  2019-01-01 00:32:22  2019-01-01 00:46:59            94           119
19308  2019-01-01 01:57:35  2019-01-01 02:38:50            94            77

        fleet
11415  yellow
19308  yellow

First 2 entries for 95
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
15577  2019-01-01 01:52:42  2019-01-01 02:01:11            95           134
33858  2019-01-01 02:00:29  2019-01-01 02:11:06            95            83

        fleet
15577  yellow
33858  yellow

First 2 entries for 96
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
51058   2019-01-01 03:05:58  2019-01-01 03:28:21            96            82
230490  2019-01-02 09:00:40  2019-01-02 09:01:17            96            96

         fleet
51058   yellow
230490  yellow

First 2 entries for 97
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
204   2019-01-01 00:41:15  2019-01-01 01:06:41            97            35
3645  2019-01-01 00:26:44  2019-01-01 00:42:49            97           231

       fleet
204   yellow
3645  yellow

First 2 entries for 98
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
37211  2019-01-01 01:32:33  2019-01-02 00:50:14            98           160
64730  2019-01-01 06:45:38  2019-01-01 07:14:19            98            72

        fleet
37211  yellow
64730  yellow

First 2 entries for 99
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
4320623  2019-01-18 18:00:28  2019-01-18 18:10:03            99           249
6170675  2019-01-26 08:27:59  2019-01-26 08:30:39            99           249

          fleet
4320623  yellow
6170675  yellow

First 2 entries for 100
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
336   2019-01-01 00:44:34  2019-01-01 01:01:36           100           141
1343  2019-01-01 00:13:44  2019-01-01 00:29:34           100            68

       fleet
336   yellow
1343  yellow

First 2 entries for 101
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
33518  2019-01-01 02:18:39  2019-01-01 02:18:40           101           101
71712  2019-01-01 09:20:30  2019-01-01 09:38:01           101           138

        fleet
33518  yellow
71712  yellow

First 2 entries for 102
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
76924  2019-01-01 10:03:40  2019-01-01 10:15:23           102            95
82739  2019-01-01 10:59:01  2019-01-01 11:28:51           102            75

        fleet
76924  yellow
82739  yellow

First 2 entries for 104
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
5544702  2019-01-23 23:16:34  2019-01-23 23:35:27           104           256

          fleet
5544702  yellow

First 2 entries for 105
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1554813  2019-01-08 08:00:51  2019-01-08 08:04:49           105           140
2588426  2019-01-12 00:36:47  2019-01-12 01:05:24           105             7

          fleet
1554813  yellow
2588426  yellow

First 2 entries for 106
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3905  2019-01-01 00:05:01  2019-01-01 00:11:12           106            25
4948  2019-01-01 00:46:49  2019-01-01 00:54:08           106            54

       fleet
3905  yellow
4948  yellow

First 2 entries for 107
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
17  2019-01-01 00:46:00  2019-01-01 00:49:07           107           107
26  2019-01-01 00:50:06  2019-01-01 01:11:36           107           181

     fleet
17  yellow
26  yellow

First 2 entries for 108
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
58327  2019-01-01 03:41:29  2019-01-01 03:41:34           108           108
91634  2019-01-01 12:02:12  2019-01-01 12:34:32           108           130

        fleet
58327  yellow
91634  yellow

First 2 entries for 109
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
58012  2019-01-01 04:37:32  2019-01-01 04:37:59           109           109
58013  2019-01-01 04:58:29  2019-01-01 04:58:29           109           264

        fleet
58012  yellow
58013  yellow

First 2 entries for 110
------------------------

             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
8321582  2019-01-01 00:30:19  2019-01-01 00:35:53           110           109
8404016  2019-01-01 01:02:04  2019-01-01 01:16:44           110            84

        fleet
8321582   fhv
8404016   fhv

First 2 entries for 111
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
178911  2019-01-01 22:09:24  2019-01-01 22:09:29           111           111
226216  2019-01-02 09:22:00  2019-01-02 09:30:04           111           181

         fleet
178911  yellow
226216  yellow

First 2 entries for 112
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2016  2019-01-01 00:53:10  2019-01-01 01:09:03           112            36
2067  2019-01-01 00:56:14  2019-01-01 01:17:08           112           234

       fleet
2016  yellow
2067  yellow

First 2 entries for 113
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
21   2019-01-01 00:48:01  2019-01-01 01:00:23           113            90
102  2019-01-01 00:33:30  2019-01-01 00:40:44           113           264

      fleet
21   yellow
102  yellow

First 2 entries for 114
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
142  2019-01-01 00:19:27  2019-01-01 01:03:21           114           198
292  2019-01-01 00:12:34  2019-01-01 00:45:47           114            90

      fleet
142  yellow
292  yellow

First 2 entries for 115
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
208297  2019-01-02 07:04:01  2019-01-02 07:10:14           115           115
208298  2019-01-02 07:04:01  2019-01-02 07:10:14           115           115

         fleet
208297  yellow
208298  yellow

First 2 entries for 116
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
20   2019-01-01 00:46:43  2019-01-01 00:47:02           116            42
683  2019-01-01 00:25:21  2019-01-01 00:54:26           116           146

      fleet
20   yellow
683  yellow

First 2 entries for 117
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
72856   2019-01-01 09:01:28  2019-01-01 09:31:23           117           191
190622  2019-01-02 00:22:48  2019-01-02 01:18:51           117             3

         fleet
72856   yellow
190622  yellow

First 2 entries for 118
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
524255  2019-01-03 17:39:31  2019-01-03 18:13:11           118            22
649598  2019-01-04 08:10:19  2019-01-04 08:59:29           118           231

         fleet
524255  yellow
649598  yellow

First 2 entries for 119
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3741   2019-01-01 00:41:53  2019-01-01 00:55:50           119            42
11416  2019-01-01 00:50:03  2019-01-01 01:00:05           119           244

        fleet
3741   yellow
11416  yellow

First 2 entries for 120
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
15011  2019-01-01 01:42:08  2019-01-01 01:57:39           120            69
40816  2019-01-01 02:21:44  2019-01-01 02:25:56           120           243

        fleet
15011  yellow
40816  yellow

First 2 entries for 121
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
49662  2019-01-01 03:44:04  2019-01-01 04:35:21           121            62
60813  2019-01-01 05:08:02  2019-01-01 05:44:15           121           121

        fleet
49662  yellow
60813  yellow

First 2 entries for 122
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
11824  2019-01-01 00:56:51  2019-01-01 01:29:06           122           169
12559  2019-01-01 00:14:05  2019-01-01 01:13:08           122           156

        fleet
11824  yellow
12559  yellow

First 2 entries for 123
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
9546   2019-01-01 00:23:40  2019-01-01 00:36:53           123           210
58431  2019-01-01 04:23:39  2019-01-01 04:43:06           123            62

        fleet
9546   yellow
58431  yellow

First 2 entries for 124
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
6692   2019-01-01 00:35:40  2019-01-01 00:59:26           124            28
88035  2019-01-01 12:36:19  2019-01-01 12:43:35           124           132

        fleet
6692   yellow
88035  yellow

First 2 entries for 125
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
213  2019-01-01 00:36:49  2019-01-01 00:51:27           125           246
437  2019-01-01 00:41:04  2019-01-01 01:05:54           125           263

      fleet
213  yellow
437  yellow

First 2 entries for 126
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
389   2019-01-01 00:16:43  2019-01-01 00:21:20           126           213
2279  2019-01-01 00:05:02  2019-01-01 00:12:41           126           212

       fleet
389   yellow
2279  yellow

First 2 entries for 127
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
11468  2019-01-01 00:36:36  2019-01-01 00:36:50           127           127
11711  2019-01-01 00:08:08  2019-01-01 00:11:32           127           243

        fleet
11468  yellow
11711  yellow

First 2 entries for 128
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
16836   2019-01-01 01:15:27  2019-01-01 01:43:00           128           246
465883  2019-01-03 12:31:23  2019-01-03 12:52:32           128            69

         fleet
16836   yellow
465883  yellow

First 2 entries for 129
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1294  2019-01-01 00:46:51  2019-01-01 00:50:45           129           129
1295  2019-01-01 00:52:03  2019-01-01 01:07:08           129             7

       fleet
1294  yellow
1295  yellow

First 2 entries for 130
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
6287  2019-01-01 00:36:26  2019-01-01 01:10:29           130           159
9947  2019-01-01 00:53:22  2019-01-01 01:07:02           130            28

       fleet
6287  yellow
9947  yellow

First 2 entries for 131
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
57077  2019-01-01 04:38:33  2019-01-01 04:50:19           131             9
97018  2019-01-01 13:11:11  2019-01-01 13:34:26           131           137

        fleet
57077  yellow
97018  yellow

First 2 entries for 132
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
33  2019-01-01 00:08:20  2019-01-01 00:41:51           132           238
68  2019-01-01 00:35:25  2019-01-01 01:14:21           132           224

     fleet
33  yellow
68  yellow

First 2 entries for 133
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2901  2019-01-01 00:45:44  2019-01-01 00:55:40           133            33
5880  2019-01-01 00:33:24  2019-01-01 00:44:42           133            71

       fleet
2901  yellow
5880  yellow

First 2 entries for 134
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1197   2019-01-01 00:44:39  2019-01-01 01:13:24           134           262
13944  2019-01-01 01:47:40  2019-01-01 01:52:03           134           135

        fleet
1197   yellow
13944  yellow

First 2 entries for 135
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
65289  2019-01-01 06:10:13  2019-01-01 06:12:52           135            95
66692  2019-01-01 07:28:00  2019-01-01 07:58:23           135           170

        fleet
65289  yellow
66692  yellow

First 2 entries for 136
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
13294  2019-01-01 01:48:53  2019-01-01 02:09:25           136           242
19745  2019-01-01 01:40:36  2019-01-01 02:03:26           136           238

        fleet
13294  yellow
19745  yellow

First 2 entries for 137
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
42  2019-01-01 00:56:14  2019-01-01 01:07:06           137           161
47  2019-01-01 00:26:14  2019-01-01 00:40:31           137            75

     fleet
42  yellow
47  yellow

First 2 entries for 138
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
23   2019-01-01 00:19:55  2019-01-01 00:57:56           138            50
319  2019-01-01 00:48:10  2019-01-01 01:36:58           138           138

      fleet
23   yellow
319  yellow

First 2 entries for 139
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
69762  2019-01-01 08:44:00  2019-01-01 09:16:25           139           146
75630  2019-01-01 10:06:18  2019-01-01 10:32:28           139           226

        fleet
69762  yellow
75630  yellow

First 2 entries for 140
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
46  2019-01-01 00:57:32  2019-01-01 01:18:34           140           243
98  2019-01-01 00:16:07  2019-01-01 00:19:41           140           233

     fleet
46  yellow
98  yellow

First 2 entries for 141
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
9   2019-01-01 00:57:32  2019-01-01 01:09:32           141           234
14  2019-01-01 00:58:24  2019-01-01 01:15:18           141           234

     fleet
9   yellow
14  yellow

First 2 entries for 142
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
38   2019-01-01 00:27:26  2019-01-01 00:39:53           142           263
138  2019-01-01 00:28:37  2019-01-01 00:31:37           142           239

      fleet
38   yellow
138  yellow

First 2 entries for 143
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
84  2019-01-01 00:19:07  2019-01-01 00:29:21           143           151
85  2019-01-01 00:37:59  2019-01-01 00:44:44           143           238

     fleet
84  yellow
85  yellow

First 2 entries for 144
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
24  2019-01-01 00:13:53  2019-01-01 00:22:11           144           261
81  2019-01-01 00:18:09  2019-01-01 00:24:34           144           249

     fleet
24  yellow
81  yellow

First 2 entries for 145
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
241   2019-01-01 00:43:55  2019-01-01 00:51:20           145           146
1378  2019-01-01 00:39:07  2019-01-01 00:50:53           145           263

       fleet
241   yellow
1378  yellow

First 2 entries for 146
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
4495  2019-01-01 00:41:12  2019-01-01 00:44:30           146             7
6558  2019-01-01 00:41:58  2019-01-01 00:46:57           146             7

       fleet
4495  yellow
6558  yellow

First 2 entries for 147
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
19441  2019-01-01 01:03:29  2019-01-01 01:24:20           147            47
25999  2019-01-01 01:30:53  2019-01-01 01:32:27           147           147

        fleet
19441  yellow
25999  yellow

First 2 entries for 148
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
61  2019-01-01 00:21:36  2019-01-01 00:35:26           148           246
92  2019-01-01 00:29:11  2019-01-01 00:32:02           148           232

     fleet
61  yellow
92  yellow

First 2 entries for 149
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
27898  2019-01-01 02:00:03  2019-01-01 02:18:57           149           222
71037  2019-01-01 08:07:58  2019-01-01 08:09:06           149           149

        fleet
27898  yellow
71037  yellow

First 2 entries for 150
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
30248  2019-01-01 02:36:07  2019-01-01 02:52:24           150            21
47094  2019-01-01 03:57:11  2019-01-01 03:57:31           150           150

        fleet
30248  yellow
47094  yellow

First 2 entries for 151
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
0   2019-01-01 00:46:40  2019-01-01 00:53:20           151           239
30  2019-01-01 00:52:37  2019-01-01 01:03:42           151           142

     fleet
0   yellow
30  yellow

First 2 entries for 152
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
753   2019-01-01 00:50:43  2019-01-01 01:07:35           152            75
1561  2019-01-01 00:48:49  2019-01-01 01:06:10           152            50

       fleet
753   yellow
1561  yellow

First 2 entries for 153
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
5555   2019-01-01 00:40:09  2019-01-01 00:47:12           153           136
23665  2019-01-01 01:10:51  2019-01-01 01:16:45           153           127

        fleet
5555   yellow
23665  yellow

First 2 entries for 154
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
104036  2019-01-01 13:22:36  2019-01-01 13:22:51           154           154
288810  2019-01-02 15:23:59  2019-01-02 15:26:16           154           154

         fleet
104036  yellow
288810  yellow

First 2 entries for 155
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
34711  2019-01-01 02:05:41  2019-01-01 02:11:06           155            89
45228  2019-01-01 03:01:16  2019-01-01 03:11:30           155           155

        fleet
34711  yellow
45228  yellow

First 2 entries for 156
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
594812  2019-01-03 22:18:39  2019-01-03 23:11:00           156           230
651971  2019-01-04 09:10:00  2019-01-04 09:49:47           156            49

         fleet
594812  yellow
651971  yellow

First 2 entries for 157
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
9105   2019-01-01 00:24:15  2019-01-01 00:30:00           157           160
10418  2019-01-01 00:53:29  2019-01-01 00:53:59           157           157

        fleet
9105   yellow
10418  yellow

First 2 entries for 158
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
123  2019-01-01 00:22:06  2019-01-01 00:40:51           158           238
179  2019-01-01 00:26:54  2019-01-01 00:49:47           158           107

      fleet
123  yellow
179  yellow

First 2 entries for 159
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
393    2019-01-01 00:18:03  2019-01-01 00:50:26           159            18
17197  2019-01-01 01:41:50  2019-01-01 02:10:36           159           249

        fleet
393    yellow
17197  yellow

First 2 entries for 160
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
9106   2019-01-01 00:39:20  2019-01-01 00:49:04           160            95
31799  2019-01-01 02:13:02  2019-01-01 02:28:27           160           255

        fleet
9106   yellow
31799  yellow

First 2 entries for 161
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
22  2019-01-01 00:55:27  2019-01-01 01:11:50           161           170
27  2019-01-01 00:17:00  2019-01-01 00:22:39           161           229

     fleet
22  yellow

27  yellow

First 2 entries for 162
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
45  2019-01-01 00:46:44  2019-01-01 00:56:18           162           140
67  2019-01-01 00:38:28  2019-01-01 00:53:39           162           151

     fleet
45  yellow
67  yellow

First 2 entries for 163
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
7   2019-01-01 00:21:28  2019-01-01 00:28:37           163           229
12  2019-01-01 00:45:21  2019-01-01 01:31:05           163            25

     fleet
7   yellow
12  yellow

First 2 entries for 164
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
90   2019-01-01 00:50:22  2019-01-01 01:08:19           164           262
175  2019-01-01 00:40:33  2019-01-01 00:44:25           164           170

      fleet
90   yellow
175  yellow

First 2 entries for 165
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
16039  2019-01-01 01:31:07  2019-01-01 01:47:54           165           189
30785  2019-01-01 02:17:54  2019-01-01 02:30:07           165            21

        fleet
16039  yellow
30785  yellow

First 2 entries for 166
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
311  2019-01-01 00:31:56  2019-01-01 00:38:25           166           238
398  2019-01-01 00:26:29  2019-01-01 00:32:13           166           151

      fleet
311  yellow
398  yellow

First 2 entries for 167
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
19859  2019-01-01 01:20:21  2019-01-01 02:24:43           167            89
21493  2019-01-01 01:10:56  2019-01-01 01:30:51           167           182

        fleet
19859  yellow
21493  yellow

First 2 entries for 168
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2762  2019-01-01 00:22:36  2019-01-01 00:57:06           168            89
8189  2019-01-01 00:05:05  2019-01-01 00:11:47           168            75

       fleet
2762  yellow
8189  yellow

First 2 entries for 169
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1558  2019-01-01 00:47:37  2019-01-01 01:14:03           169           168
5630  2019-01-01 00:29:11  2019-01-01 01:29:05           169           201

       fleet
1558  yellow
5630  yellow

First 2 entries for 170
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
15  2019-01-01 00:23:14  2019-01-01 00:25:40           170           170
16  2019-01-01 00:39:51  2019-01-01 00:48:02           170           170

     fleet
15  yellow
16  yellow

First 2 entries for 171
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
39171  2019-01-01 02:54:13  2019-01-01 03:11:30           171           197
49975  2019-01-01 03:49:35  2019-01-01 04:35:01           171           223

        fleet
39171  yellow
49975  yellow

First 2 entries for 172
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1231432  2019-01-06 17:51:26  2019-01-06 18:13:10           172           262
2472117  2019-01-11 17:10:20  2019-01-11 17:23:08           172           114

          fleet
1231432  yellow
2472117  yellow

First 2 entries for 173
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
15716  2019-01-01 01:05:18  2019-01-01 01:11:10           173           129
16164  2019-01-01 01:13:04  2019-01-01 01:15:21           173           173

        fleet
15716  yellow
16164  yellow

First 2 entries for 174
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
8649   2019-01-01 00:26:17  2019-01-01 00:55:22           174            36
11577  2019-01-01 00:32:15  2019-01-01 00:42:19           174           127

        fleet
8649   yellow
11577  yellow

First 2 entries for 175
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
237226  2019-01-02 10:57:53  2019-01-02 11:16:14           175            10
294324  2019-01-02 15:18:00  2019-01-02 15:18:21           175           175

         fleet
237226  yellow
294324  yellow

First 2 entries for 176
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
4854101  2019-01-21 05:05:01  2019-01-21 05:14:14           176           265
7110641  2019-01-30 00:10:25  2019-01-30 00:11:14           176           109

          fleet
4854101  yellow
7110641  yellow

First 2 entries for 177
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2626  2019-01-01 00:48:55  2019-01-01 01:23:11           177           259
2886  2019-01-01 00:47:39  2019-01-01 01:16:37           177            66

       fleet
2626  yellow
2886  yellow

First 2 entries for 178
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
32191  2019-01-01 02:31:09  2019-01-01 02:44:45           178           210
70968  2019-01-01 08:48:26  2019-01-01 09:01:45           178            26

        fleet
32191  yellow
70968  yellow

First 2 entries for 179
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1531  2019-01-01 00:36:42  2019-01-01 01:03:43           179           256
1737  2019-01-01 00:58:55  2019-01-01 01:22:01           179             4

       fleet
1531  yellow
1737  yellow

First 2 entries for 180
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
47150  2019-01-01 03:17:46  2019-01-01 03:23:20           180           258
62267  2019-01-01 05:07:36  2019-01-01 05:13:19           180           258

        fleet
47150  yellow
62267  yellow

First 2 entries for 181
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
162  2019-01-01 00:29:10  2019-01-01 01:23:09           181           239
341  2019-01-01 00:34:20  2019-01-01 00:53:19           181           225

      fleet
162  yellow
341  yellow

First 2 entries for 182
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
46372  2019-01-01 03:56:13  2019-01-01 04:04:55           182            78
62595  2019-01-01 05:09:35  2019-01-01 05:30:32           182            74

        fleet
46372  yellow
62595  yellow

First 2 entries for 183
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
18271  2019-01-01 01:27:34  2019-01-01 01:43:34           183            18
58190  2019-01-01 04:46:11  2019-01-01 05:42:24           183           118

        fleet
18271  yellow
58190  yellow

First 2 entries for 184
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
371288  2019-01-02 21:08:42  2019-01-02 21:24:40           184           194
452528  2019-01-03 11:37:43  2019-01-03 11:49:27           184            81

         fleet
371288  yellow
452528  yellow

First 2 entries for 185
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
47409  2019-01-01 03:05:50  2019-01-01 03:36:10           185           265
61111  2019-01-01 05:52:00  2019-01-01 05:52:03           185           185

        fleet
47409  yellow
61111  yellow

First 2 entries for 186
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
113  2019-01-01 00:32:20  2019-01-01 00:43:43           186           186
235  2019-01-01 00:38:00  2019-01-01 00:43:44           186           164

      fleet
113  yellow
235  yellow

First 2 entries for 187
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
44636    2019-01-01 03:13:21  2019-01-01 03:20:11           187           234
2220076  2019-01-10 19:02:23  2019-01-10 19:57:24           187           152

          fleet
44636    yellow
2220076  yellow

First 2 entries for 188
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
9186  2019-01-01 00:45:46  2019-01-01 00:58:01           188            97
9419  2019-01-01 00:11:18  2019-01-01 00:41:39           188            92

       fleet
9186  yellow
9419  yellow

First 2 entries for 189
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
325   2019-01-01 00:27:19  2019-01-01 00:55:14           189            33
3147  2019-01-01 00:11:25  2019-01-01 00:32:01           189            36

       fleet
325   yellow
3147  yellow

First 2 entries for 190
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
6758   2019-01-01 00:43:39  2019-01-01 01:10:54           190            37
32567  2019-01-01 02:20:26  2019-01-01 02:39:26           190           112

        fleet
6758   yellow
32567  yellow

First 2 entries for 191
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
4815  2019-01-01 00:18:23  2019-01-01 00:50:57           191           159
8706  2019-01-01 00:58:53  2019-01-01 01:32:29           191            61

       fleet
4815  yellow
8706  yellow

First 2 entries for 192
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
44522  2019-01-01 03:31:08  2019-01-01 04:14:08           192             1
79613  2019-01-01 10:04:00  2019-01-01 10:19:36           192           132

        fleet
44522  yellow
79613  yellow

First 2 entries for 193
------------------------
       pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3  2018-11-28 15:52:25  2018-11-28 15:55:45           193           193
4  2018-11-28 15:56:57  2018-11-28 15:58:33           193           193

    fleet
3  yellow
4  yellow

First 2 entries for 194
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
64774  2019-01-01 06:55:31  2019-01-01 07:17:32           194            49
70075  2019-01-01 08:56:29  2019-01-01 09:02:27           194           262

        fleet
64774  yellow
70075  yellow

First 2 entries for 195
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1367   2019-01-01 00:43:06  2019-01-01 00:56:40           195           148
21018  2019-01-01 01:21:06  2019-01-01 01:25:33           195            52

        fleet
1367   yellow
21018  yellow

First 2 entries for 196
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
748   2019-01-01 00:22:24  2019-01-01 00:31:31           196           173
1291  2019-01-01 00:51:35  2019-01-01 01:13:10           196           197

       fleet
748   yellow
1291  yellow

First 2 entries for 197
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
13100  2019-01-01 00:05:39  2019-01-01 00:37:09           197           181
28177  2019-01-01 01:19:01  2019-01-01 01:19:06           197           197

        fleet
13100  yellow
28177  yellow

First 2 entries for 198
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3148  2019-01-01 00:40:57  2019-01-01 01:04:28           198           129
3550  2019-01-01 00:22:24  2019-01-01 00:27:37           198           198

       fleet
3148  yellow
3550  yellow

First 2 entries for 199
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
5961359  2019-01-25 14:04:39  2019-01-25 14:25:40           199           193
6684914  2019-01-28 11:18:50  2019-01-28 11:32:05           199           161

          fleet
5961359  yellow
6684914  yellow

First 2 entries for 200
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
62794  2019-01-01 05:25:42  2019-01-01 05:27:43           200           220
89127  2019-01-01 12:16:54  2019-01-01 12:40:26           200            48

        fleet
62794  yellow
89127  yellow

First 2 entries for 201
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
19674  2019-01-01 01:36:08  2019-01-01 02:23:22           201            49
40472  2019-01-01 02:05:49  2019-01-01 02:21:50           201            86

        fleet
19674  yellow
40472  yellow

First 2 entries for 202
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
12594  2019-01-01 00:43:57  2019-01-01 01:15:58           202            48
15146  2019-01-01 01:05:55  2019-01-01 01:20:52           202            70

        fleet
12594  yellow
15146  yellow

First 2 entries for 203
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
7780   2019-01-01 00:19:31  2019-01-01 00:58:39           203           169
22077  2019-01-01 01:51:19  2019-01-01 02:36:36           203           225

        fleet
7780   yellow
22077  yellow

First 2 entries for 204
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2607636  2019-01-12 03:09:35  2019-01-12 03:16:47           204            84
4811479  2019-01-20 20:03:58  2019-01-20 20:04:32           204           204

          fleet
2607636  yellow
4811479  yellow

First 2 entries for 205
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
4953  2019-01-01 00:24:59  2019-01-01 00:52:36           205            35
5369  2019-01-01 00:27:24  2019-01-01 00:42:47           205            10

       fleet
4953  yellow
5369  yellow

First 2 entries for 206
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
727394   2019-01-04 15:14:03  2019-01-04 16:15:52           206           258
1175097  2019-01-06 13:23:54  2019-01-06 14:20:15           206            68

          fleet
727394   yellow
1175097  yellow

First 2 entries for 207
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
105435  2019-01-01 14:19:35  2019-01-01 14:23:08           207           138
217409  2019-01-02 08:21:57  2019-01-02 08:50:33           207            68

         fleet
105435  yellow
217409  yellow

First 2 entries for 208
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
4400  2019-01-01 00:09:48  2019-01-01 00:19:03           208           248
5882  2019-01-01 00:56:00  2019-01-01 01:17:16           208           196

       fleet
4400  yellow
5882  yellow

First 2 entries for 209
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
482  2019-01-01 00:37:38  2019-01-01 00:52:13           209           233
745  2019-01-01 00:50:43  2019-01-01 00:59:38           209           231

      fleet
482  yellow

745  yellow

First 2 entries for 210
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
20260  2019-01-01 01:11:47  2019-01-01 01:37:48           210            11
76021  2019-01-01 11:00:34  2019-01-01 11:07:49           210           155

        fleet
20260  yellow
76021  yellow

First 2 entries for 211
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
178  2019-01-01 00:25:03  2019-01-01 01:02:07           211            48
185  2019-01-01 00:12:48  2019-01-01 00:23:48           211           232

      fleet
178  yellow
185  yellow

First 2 entries for 212
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
21425  2019-01-01 01:07:43  2019-01-01 02:06:48           212           115
21494  2019-01-01 01:47:57  2019-01-01 02:05:08           212            41

        fleet
21425  yellow
21494  yellow

First 2 entries for 213
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
8003   2019-01-01 00:37:59  2019-01-01 00:47:38           213           182
31276  2019-01-01 02:50:35  2019-01-01 03:07:42           213           116

        fleet
8003   yellow
31276  yellow

First 2 entries for 214
------------------------
             pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1089464  2019-01-06 00:28:03  2019-01-06 00:35:02           214           232
1323194  2019-01-07 07:57:48  2019-01-07 08:43:28           214            77

          fleet
1089464  yellow
1323194  yellow

First 2 entries for 215
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2247  2019-01-01 00:19:51  2019-01-01 00:48:39           215           244
5842  2019-01-01 00:48:50  2019-01-01 00:55:46           215           215

       fleet
2247  yellow
5842  yellow

First 2 entries for 216
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3696  2019-01-01 00:29:33  2019-01-01 00:43:03           216           222
6691  2019-01-01 00:11:25  2019-01-01 00:14:25           216           216

       fleet
3696  yellow
6691  yellow

First 2 entries for 217
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2615   2019-01-01 00:12:11  2019-01-01 00:21:32           217            17
15393  2019-01-01 01:23:10  2019-01-01 01:36:59           217           198

        fleet
2615   yellow
15393  yellow

First 2 entries for 218
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
8273   2019-01-01 00:31:04  2019-01-01 00:32:20           218           218
17356  2019-01-01 01:55:19  2019-01-01 02:12:52           218            76

        fleet
8273   yellow
17356  yellow

First 2 entries for 219
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
70230  2019-01-01 08:24:17  2019-01-01 08:57:54           219           265
70421  2019-01-01 08:34:40  2019-01-01 08:58:30           219           244

        fleet
70230  yellow
70421  yellow

First 2 entries for 220
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
15098  2019-01-01 01:11:40  2019-01-01 01:16:22           220           220
27183  2019-01-01 01:37:22  2019-01-01 01:38:34           220           220

        fleet
15098  yellow
27183  yellow

First 2 entries for 221
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
38890  2019-01-01 02:34:33  2019-01-01 02:35:43           221           221
38891  2019-01-01 02:36:54  2019-01-01 02:38:41           221           221

        fleet
38890  yellow
38891  yellow

First 2 entries for 222
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
8934   2019-01-01 00:35:58  2019-01-01 00:58:49           222            62
10125  2019-01-01 00:34:50  2019-01-01 00:38:26           222           222

        fleet
8934   yellow
10125  yellow

First 2 entries for 223
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
636   2019-01-01 00:38:24  2019-01-01 00:55:45           223           250
1984  2019-01-01 00:49:15  2019-01-01 00:50:57           223           223

       fleet
636   yellow
1984  yellow

First 2 entries for 224
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
13   2019-01-01 00:43:19  2019-01-01 01:07:42           224            25
464  2019-01-01 00:40:13  2019-01-01 01:00:50           224            68

      fleet
13   yellow
464  yellow

First 2 entries for 225
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1928  2019-01-01 00:14:29  2019-01-01 00:24:03           225            61
7544  2019-01-01 00:21:09  2019-01-01 00:29:57           225            37

       fleet
1928  yellow
7544  yellow

First 2 entries for 226
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
280  2019-01-01 00:53:45  2019-01-01 01:10:48           226           142
922  2019-01-01 00:16:39  2019-01-01 01:24:10           226           122

      fleet
280  yellow
922  yellow

First 2 entries for 227
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
16799  2019-01-01 01:57:22  2019-01-01 02:36:07           227           247
25896  2019-01-01 01:47:27  2019-01-01 02:04:31           227            40

        fleet
16799  yellow
25896  yellow

First 2 entries for 228
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1082  2019-01-01 00:57:02  2019-01-01 02:05:25           228           226
4128  2019-01-01 00:42:55  2019-01-01 01:38:08           228           173

       fleet
1082  yellow
4128  yellow

First 2 entries for 229
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
8   2019-01-01 00:32:01  2019-01-01 00:45:39           229             7
40  2019-01-01 00:52:41  2019-01-01 00:57:31           229           141

     fleet
8   yellow
40  yellow

First 2 entries for 230
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
760  2019-01-01 00:52:08  2019-01-01 01:07:33           230            48
783  2019-01-01 00:54:14  2019-01-01 01:08:36           230           143

      fleet
760  yellow
783  yellow

First 2 entries for 231
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
25  2019-01-01 00:26:21  2019-01-01 00:39:39           231            79
31  2019-01-01 00:11:45  2019-01-01 00:40:51           231           238

     fleet
25  yellow
31  yellow

First 2 entries for 232
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
93   2019-01-01 00:33:07  2019-01-01 00:41:59           232            79
471  2019-01-01 00:04:19  2019-01-01 00:19:29           232           162

      fleet
93   yellow
471  yellow

First 2 entries for 233
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
59   2019-01-01 00:35:56  2019-01-01 00:42:47           233           141
151  2019-01-01 00:21:23  2019-01-01 00:26:07           233           233

      fleet
59   yellow
151  yellow

First 2 entries for 234
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
210  2019-01-01 00:39:17  2019-01-01 00:50:17           234            68
236  2019-01-01 00:44:09  2019-01-01 01:00:57           234           137

      fleet
210  yellow
236  yellow

First 2 entries for 235
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1092  2019-01-01 00:22:28  2019-01-01 00:38:44           235            42
2453  2019-01-01 00:23:54  2019-01-01 00:29:59           235           169

       fleet
1092  yellow
2453  yellow

First 2 entries for 236
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2   2018-12-21 13:48:30  2018-12-21 13:52:40           236           236
48  2019-01-01 00:44:26  2019-01-01 00:55:29           236            41

     fleet
2   yellow
48  yellow

First 2 entries for 237
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
28  2019-01-01 00:32:59  2019-01-01 00:32:59           237           264
69  2019-01-01 00:00:00  2019-01-01 01:03:12           237           264

     fleet
28  yellow
69  yellow

First 2 entries for 238
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
11  2019-01-01 00:21:59  2019-01-01 00:28:24           238           151
32  2019-01-01 00:43:28  2019-01-01 00:49:42           238           239

     fleet
11  yellow
32  yellow

First 2 entries for 239
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1   2019-01-01 00:59:47  2019-01-01 01:18:59           239           246
34  2019-01-01 00:47:21  2019-01-01 00:53:34           239           236

     fleet
1   yellow
34  yellow

First 2 entries for 240
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
195721  2019-01-02 04:38:28  2019-01-02 05:04:13           240             4
430380  2019-01-03 09:34:55  2019-01-03 10:07:49           240            74

         fleet
195721  yellow
430380  yellow

First 2 entries for 241
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
6485   2018-12-31 23:07:21  2018-12-31 23:26:51           241            75
38594  2019-01-01 02:38:20  2019-01-01 03:05:24           241           173

        fleet
6485   yellow
38594  yellow

First 2 entries for 242
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
40702   2019-01-01 02:07:12  2019-01-01 02:22:40           242           147
214068  2019-01-02 08:04:12  2019-01-02 08:20:53           242            78

         fleet
40702   yellow
214068  yellow

First 2 entries for 243
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
411   2019-01-01 00:21:12  2019-01-01 00:26:46           243           243
2275  2019-01-01 00:10:43  2019-01-01 01:23:59           243            42

       fleet
411   yellow
2275  yellow

First 2 entries for 244
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
397  2019-01-01 00:15:25  2019-01-01 00:23:15           244           152
648  2019-01-01 00:45:57  2019-01-01 00:58:20           244           243

      fleet
397  yellow
648  yellow

First 2 entries for 245
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
490438  2019-01-03 14:04:56  2019-01-03 14:10:10           245           206
966939  2019-01-05 15:45:50  2019-01-05 17:06:46           245             3

         fleet
490438  yellow
966939  yellow

First 2 entries for 246
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
10  2019-01-01 00:24:04  2019-01-01 00:47:06           246           162
62  2019-01-01 00:36:09  2019-01-01 00:56:33           246            79

     fleet
10  yellow
62  yellow

First 2 entries for 247
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3445   2019-01-01 00:06:09  2019-01-01 00:19:26           247            18
24244  2019-01-01 01:06:09  2019-01-01 01:54:37           247            76

        fleet
3445   yellow
24244  yellow

First 2 entries for 248
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
8800   2019-01-01 00:59:00  2019-01-01 01:09:05           248           182
61860  2019-01-01 05:15:13  2019-01-01 05:28:43           248           213

        fleet
8800   yellow
61860  yellow

First 2 entries for 249
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
41  2019-01-01 00:37:30  2019-01-01 00:51:52           249           234
53  2019-01-01 00:10:19  2019-01-01 00:13:50           249           113

     fleet
41  yellow
53  yellow

First 2 entries for 250
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3740   2019-01-01 00:05:57  2019-01-01 00:21:15           250            18
17196  2019-01-01 01:07:09  2019-01-01 01:23:51           250            51

        fleet
3740   yellow
17196  yellow

First 2 entries for 251
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
134845  2019-01-01 16:29:51  2019-01-01 17:14:05           251           129
400933  2019-01-03 06:11:44  2019-01-03 06:14:55           251           221

         fleet
134845  yellow
400933  yellow

First 2 entries for 252
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
170669  2019-01-01 20:13:17  2019-01-01 20:36:07           252           223
263343  2019-01-02 12:57:02  2019-01-02 13:14:59           252            95

         fleet
170669  yellow
263343  yellow

First 2 entries for 253
------------------------
            pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
204414  2019-01-02 07:47:01  2019-01-02 07:48:13           253            93
673604  2019-01-04 10:19:24  2019-01-04 10:27:52           253           216

         fleet
204414  yellow
673604  yellow

First 2 entries for 254
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
3446  2019-01-01 00:38:39  2019-01-01 00:54:16           254            60
5493  2019-01-01 00:38:12  2019-01-01 01:00:25           254            42

       fleet
3446  yellow
5493  yellow

First 2 entries for 255
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1387  2019-01-01 00:42:56  2019-01-01 00:52:55           255            37
1797  2019-01-01 00:42:47  2019-01-01 00:56:39           255            36

       fleet
1387  yellow
1797  yellow

First 2 entries for 256
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2137  2019-01-01 00:51:32  2019-01-01 01:40:24           256           152
3065  2019-01-01 00:51:46  2019-01-01 01:06:58           256            83

       fleet
2137  yellow
3065  yellow

First 2 entries for 257
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
2238   2019-01-01 00:55:27  2019-01-01 01:11:29           257           158
12415  2019-01-01 00:59:55  2019-01-01 01:13:51           257            65

        fleet
2238   yellow
12415  yellow

First 2 entries for 258
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
37101  2019-01-01 02:21:34  2019-01-01 02:25:33           258           258
64651  2019-01-01 06:29:56  2019-01-01 06:51:42           258           260

        fleet
37101  yellow
64651  yellow

First 2 entries for 259
------------------------
           pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
12277  2019-01-01 00:18:15  2019-01-01 00:30:44           259           254
38980  2019-01-01 02:06:26  2019-01-01 02:25:12           259           241

        fleet
12277  yellow
38980  yellow

First 2 entries for 260
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
614   2019-01-01 00:39:36  2019-01-01 00:53:31           260            74
1741  2019-01-01 00:27:19  2019-01-01 00:33:55           260            82

       fleet
614   yellow
1741  yellow

First 2 entries for 261
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
184  2019-01-01 00:35:11  2019-01-01 00:58:40           261           142
466  2019-01-01 00:53:59  2019-01-01 01:23:53           261           202

      fleet
184  yellow
466  yellow

First 2 entries for 262
------------------------
         pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
253  2019-01-01 00:34:12  2019-01-01 00:46:11           262           142
283  2019-01-01 00:40:58  2019-01-01 01:02:32           262           145

      fleet
253  yellow
283  yellow

First 2 entries for 263
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
29  2019-01-01 00:43:19  2019-01-01 00:58:09           263           107
39  2019-01-01 00:42:56  2019-01-01 00:46:41           263           140

     fleet
29  yellow
39  yellow

First 2 entries for 264
------------------------
        pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
35  2019-01-01 00:17:49  2019-01-01 00:30:37           264           229
58  2019-01-01 00:20:26  2019-01-01 00:33:00           264           170

     fleet
35  yellow
58  yellow

First 2 entries for 265
------------------------
          pickup_datetime     dropoff_datetime  PULocationID  DOLocationID  \
1105  2019-01-01 00:23:11  2019-01-01 00:23:25           265           265
1559  2019-01-01 00:24:47  2019-01-01 00:28:21           265           141

       fleet
1105  yellow
1559  yellow

In [40]:
# Count UNIQUE rows
by_puid.get_group(2)['DOLocationID'].value_counts()

117    4
2      3
265    3
124    3
263    2
132    2
65     1
48     1
230    1
50     1
256    1
30     1
209    1
239    1
145    1
211    1
68     1
82     1
10     1
141    1
234    1
244    1
107    1
138    1
Name: DOLocationID, dtype: int64

In [41]:
by_puid.get_group(2)

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,fleet
627596,2019-01-04 06:55:07,2019-01-04 08:10:35,2,65,yellow
741757,2019-01-04 16:05:29,2019-01-04 16:51:32,2,211,yellow
1244788,2019-01-06 18:14:08,2019-01-06 18:51:09,2,107,yellow
2616923,2019-01-12 05:06:24,2019-01-12 05:19:14,2,117,yellow
4471019,2019-01-19 11:59:57,2019-01-19 12:28:15,2,2,yellow
5588055,2019-01-24 08:25:00,2019-01-24 09:00:52,2,244,yellow
6326082,2019-01-26 19:36:15,2019-01-26 19:41:23,2,263,yellow
6992591,2019-01-29 16:56:11,2019-01-29 17:04:58,2,234,yellow
7324358,2019-01-30 20:31:27,2019-01-30 20:40:50,2,141,yellow
7401392,2019-01-31 06:26:03,2019-01-31 06:33:25,2,2,yellow
9364178,2019-01-02 15:12:10,2019-01-02 15:28:16,2,10,fhv
10523044,2019-01-04 14:21:07,2019-01-04 15:02:50,2,82,fhv
12895299,2019-01-07 20:54:12,2019-01-07 21:35:42,2,68,fhv
12895300,2019-01-07 20:54:12,2019-01-07 21:45:15,2,239,fhv
14571118,2019-01-10 13:56:57,2019-01-10 14:42:54,2,145,fhv
16378632,2019-01-12 17:31:43,2019-01-12 18:24:12,2,48,fhv
16915951,2019-01-13 07:58:18,2019-01-13 08:42:43,2,132,fhv
18792086,2019-01-15 21:04:12,2019-01-15 21:34:00,2,263,fhv
18950876,2019-01-16 06:54:07,2019-01-16 06:57:32,2,124,fhv
19711308,2019-01-17 07:11:12,2019-01-17 07:14:26,2,124,fhv
19891597,2019-01-17 12:31:36,2019-01-17 12:35:54,2,2,fhv
22383311,2019-01-20 14:34:52,2019-01-20 15:34:39,2,265,fhv
23257863,2019-01-21 16:00:39,2019-01-21 17:11:28,2,209,fhv
23810639,2019-01-22 11:13:56,2019-01-22 11:14:25,2,30,fhv
24602471,2019-01-23 13:59:23,2019-01-23 14:06:36,2,124,fhv
26263418,2019-01-25 16:36:46,2019-01-25 16:53:06,2,132,fhv
26380373,2019-01-25 18:12:42,2019-01-25 18:39:43,2,256,fhv
26616776,2019-01-25 23:45:02,2019-01-25 23:54:32,2,117,fhv
27857735,2019-01-27 10:21:32,2019-01-27 10:30:03,2,117,fhv
29025077,2019-01-29 00:02:36,2019-01-29 00:15:49,2,117,fhv
29164562,2019-01-29 08:52:53,2019-01-29 09:51:40,2,50,fhv
29324573,2019-01-29 13:26:16,2019-01-29 14:06:44,2,230,fhv
29525406,2019-01-29 18:54:30,2019-01-29 19:34:00,2,265,fhv
30584340,2019-01-31 04:16:02,2019-01-31 04:35:14,2,138,fhv
31201433,2019-01-31 19:07:10,2019-01-31 19:58:14,2,265,fhv

In [44]:
puid, frame = next(iter(by_puid))  # First tuple from iterator

In [45]:
puid

1

In [50]:
frame.head(3)

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,fleet
33961,2019-01-01 02:19:27,2019-01-01 02:19:32,1,1,yellow
60640,2019-01-01 05:52:45,2019-01-01 05:52:53,1,1,yellow
63320,2019-01-01 06:22:24,2019-01-01 06:23:23,1,1,yellow

In [56]:
frame["DOLocationID"].value_counts()  # Count for PULocationID == 1

265    503
1      457
231     87
239     82
166     78
      ...
155      1
86       1
44       1
64       1
5        1
Name: DOLocationID, Length: 142, dtype: int64

How to interpret the results?
<pre>
DOID   Count               DOID: DOLocationID = Drop-off location when pick-up location is 1.
-------------
265    503
1      457
231     87
239     82
166     78
      ... 
155      1
86       1
44       1
64       1
5        1
</pre>

In [72]:
'''
 * Count how often each possible destination (DOLocationID) was approached for all possible origins (PULocationID).
 * Series.reset_index can be used with name= set to create a DataFrame instead of a Series and give a name to the
   otherwise unnamed values column that will hold the result of value_counts().
'''
df_trip_counts = df_taxi_2019_01.groupby("PULocationID")["DOLocationID"].value_counts().reset_index(name='trip_count')

In [75]:
# Result is a pandas series object
trip_counts = df_taxi_2019_01.groupby("PULocationID")["DOLocationID"].value_counts()

In [76]:
trip_counts

PULocationID  DOLocationID
1             265             503
              1               457
              231              87
              239              82
              166              78
                             ...
265           195               1
              202               1
              207               1
              227               1
              253               1
Name: DOLocationID, Length: 59494, dtype: int64

In [74]:
# In contrast to the series above, let's have a look at the corresponding DataFrame
df_trip_counts

       PULocationID  DOLocationID  trip_count
0                 1           265         503
1                 1             1         457
2                 1           231          87
3                 1           239          82
4                 1           166          78
...             ...           ...         ...
59489           265           195           1
59490           265           202           1
59491           265           207           1
59492           265           227           1
59493           265           253           1

[59494 rows x 3 columns]

``trip_count`` stores the number of trips from ``PULocationID`` to ``DOLocationID``.

In [92]:
df_trip_counts.sort_values(by=['trip_count'], ascending=False)

       PULocationID  DOLocationID  trip_count
59016           264           264      914029
28474           132           265       68268
52713           237           236       62729
52457           236           236       55722
52458           236           237       54814
...             ...           ...         ...
40869           184            90           1
40868           184            89           1
40867           184            88           1
40866           184            79           1
59493           265           253           1

[59494 rows x 3 columns]

In [106]:
df_zones_info = taxi_zones_loader()
df_zones_info.drop(columns='service_zone', inplace=True)

In [107]:
df_zones_info

     LocationID        Borough                     Zone
0             1            EWR           Newark Airport
1             2         Queens              Jamaica Bay
2             3          Bronx  Allerton/Pelham Gardens
3             4      Manhattan            Alphabet City
4             5  Staten Island            Arden Heights
..          ...            ...                      ...
260         261      Manhattan       World Trade Center
261         262      Manhattan           Yorkville East
262         263      Manhattan           Yorkville West
263         264        Unknown                       NV
264         265        Unknown                      NaN

[265 rows x 3 columns]

In [104]:
df_trip_counts

       PULocationID  DOLocationID  trip_count
0                 1           265         503
1                 1             1         457
2                 1           231          87
3                 1           239          82
4                 1           166          78
...             ...           ...         ...
59489           265           195           1
59490           265           202           1
59491           265           207           1
59492           265           227           1
59493           265           253           1

[59494 rows x 3 columns]

In [113]:
# Find zone and burough names for DOLocationID
df_trip_counts = df_trip_counts.merge(left_on='DOLocationID', right=df_zones_info, right_on='LocationID')

In [114]:
df_trip_counts

,PULocationID,DOLocationID,trip_count,LocationID,Borough,Zone
0,1,265,503,265,Unknown,NaN
1,2,265,3,265,Unknown,NaN
2,3,265,1537,265,Unknown,NaN
3,4,265,1071,265,Unknown,NaN
4,5,265,92,265,Unknown,NaN
...,...,...,...,...,...,...
59489,129,199,1,199,Bronx,Rikers Island
59490,135,199,1,199,Bronx,Rikers Island
59491,170,199,1,199,Bronx,Rikers Island
59492,252,199,1,199,Bronx,Rikers Island
59493,90,104,1,104,Manhattan,Governor's Island/Ellis Island/Liberty Island

In [115]:
# Column not needed anymore
df_trip_counts.drop(columns='LocationID', inplace=True)

In [119]:
df_trip_counts.rename(columns={"Borough": "DOBorough", "Zone": "DOZone"}, inplace=True)

In [120]:
df_trip_counts

,PULocationID,DOLocationID,trip_count,DOBorough,DOZone
0,1,265,503,Unknown,NaN
1,2,265,3,Unknown,NaN
2,3,265,1537,Unknown,NaN
3,4,265,1071,Unknown,NaN
4,5,265,92,Unknown,NaN
...,...,...,...,...,...
59489,129,199,1,Bronx,Rikers Island
59490,135,199,1,Bronx,Rikers Island
59491,170,199,1,Bronx,Rikers Island
59492,252,199,1,Bronx,Rikers Island
59493,90,104,1,Manhattan,Governor's Island/Ellis Island/Liberty Island

In [121]:
# Find zone and burough names for PULocationID
df_trip_counts = df_trip_counts.merge(left_on='PULocationID', right=df_zones_info, right_on='LocationID')

In [123]:
# Column not needed anymore
df_trip_counts.drop(columns='LocationID', inplace=True)

# Rename columns to make clear that they belong to the pick-ups
df_trip_counts.rename(columns={"Borough": "PUBorough", "Zone": "PUZone"}, inplace=True)

Table containing trip counts from ``PULocationID`` &rarr; ``DOLocationID``:

In [125]:
df_trip_counts.sort_values(by=['trip_count'], ascending=False)

,PULocationID,DOLocationID,trip_count,DOBorough,DOZone,PUBorough,PUZone
59112,264,264,914029,Unknown,NV,Unknown,NV
28459,132,265,68268,Unknown,NaN,Queens,JFK Airport
52717,237,236,62729,Manhattan,Upper East Side North,Manhattan,Upper East Side South
52461,236,236,55722,Manhattan,Upper East Side North,Manhattan,Upper East Side North
52471,236,237,54814,Manhattan,Upper East Side South,Manhattan,Upper East Side North
...,...,...,...,...,...,...,...
26753,124,245,1,Staten Island,West Brighton,Queens,Howard Beach
26762,124,3,1,Bronx,Allerton/Pelham Gardens,Queens,Howard Beach
26782,124,220,1,Bronx,Spuyten Duyvil/Kingsbridge,Queens,Howard Beach
26785,124,159,1,Bronx,Melrose South,Queens,Howard Beach
59493,104,256,1,Brooklyn,Williamsburg (South Side),Manhattan,Governor's Island/Ellis Island/Liberty Island