In [1]:
%matplotlib inline

# Plotting setup
import matplotlib.pyplot as plt

# Package imports
import numpy as np
import pandas as pd

# Allow import of own scripts #
import sys, os
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
###############################

# Own functions
from src.load_taxi_data import load_taxi_data
from src.taxi_zones_loader import taxi_zones_loader
from src.preprocess_data import preprocess_data

In [2]:
# Read previously saved dataframe from csv file from disk
df_taxi_2019_01_raw = pd.read_csv('../dat/df_taxi_2019_01.csv')

In [3]:
# Preprocessing
df_taxi_2019_01 = preprocess_data(df_taxi_2019_01_raw)

About 5.81% of the entire data could not be used due to missing information (NaN).

**Definition:** The **most frequent route** between any two locations _A_ and _B_ is the unidirectional route _A*_ &rarr; _B*_ with the highest trip frequency.

In [40]:
df_taxi_2019_01

,Unnamed: 0,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,fleet
0,0,2019-01-01 00:46:40,2019-01-01 00:53:20,151.0,239.0,yellow
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,239.0,246.0,yellow
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,236.0,236.0,yellow
3,3,2018-11-28 15:52:25,2018-11-28 15:55:45,193.0,193.0,yellow
4,4,2018-11-28 15:56:57,2018-11-28 15:58:33,193.0,193.0,yellow
...,...,...,...,...,...,...
31429515,23130805,2019-01-31 23:21:00,2019-01-31 23:28:52,NaN,265.0,fhv
31429516,23130806,2019-01-31 23:38:04,2019-01-31 23:45:43,NaN,265.0,fhv
31429517,23130807,2019-01-31 23:53:58,2019-02-01 00:25:04,NaN,265.0,fhv
31429518,23130808,2019-01-31 23:54:53,2019-02-01 00:00:14,NaN,265.0,fhv
31429519,23130809,2019-01-31 23:55:47,2019-02-01 00:24:29,NaN,265.0,fhv

**Preprocessing:**

**Identify most popular routes:**